<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PoC - text2SQL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <h1><img src="{{ url_for('static', filename='images/회사로고.png') }}" alt="Logo">
        플랜트인사이트봇_V1
    </h1>
    <br>
    <h2>Instruction(질문 입력) : <h2>
        <form action="/process" method="POST">
            <label for="prompt"></label>
            <input type="text" id="prompt" name="prompt" placeholder="Type something...">
            <button id="greetButton">SQL 생성</button>
        </form>
    <br>
    <h2>Input(테이블 이름 : [칼럼1, 칼럼2, 칼럼3..])<h2>
        <form action="/process" method="POST">
            <label for="input"><label>
            <input type="text" id="prompt" name="prompt" size = 65 value = "설비정보 : [인덱스, 설비번호, 카테고리, 타입, 기능위치, 설비관리등급]">
        </form>
    
    <!-- JavaScript 파일 및 코드 추가-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
